@import './base.css';
@import './assetkeeper.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

/* div
  > section
  > main
  > main
  > div.el-row.container
  > div.el-col.el-col-2
  > div:nth-child(1)
  > div
  > div
  > div {
  background-color: #c7a780;
} */

/* assetkeeper-select */

div.el-select.el-select--small.assetkeeper-select > div > div > div {
  background-color: #c7a780;
}

div.el-select.el-select--small.assetkeeper-select > div > div > div > input {
  color: white;
}

div.el-select.el-select--small.assetkeeper-select > div > div > div > span > span > i {
  color: white;
}

.el-select {
  --el-select-input-focus-border-color: #c7a780 !important;
}
